        <li class="tag-list-item"></li>
        <input name="{{this}}" value="{{this}}" id="input_{{this}}" type="checkbox" class="checkbox" />
        <label for="{{this}}">{{this}}</label>
        </li>