<h1>Meal Planner Calendar</h1>

{{#each days}}
  <h1>{{ dayOfWeek }}</h1>
  <div class='planner-day'>
    {{#each meals}}
      <div class='planner-meal'>
        {{#if recipe}}
          {{ recipe.title }}
          <a href="/planner/{{ @root.planId}}/add-recipe?dayOfWeek={{../dayOfWeek}}&mealName={{mealName}}">
            Change
          </a>
          <a href="/planner/{{ @root.planId}}/remove-recipe?dayOfWeek={{../dayOfWeek}}&mealName={{mealName}}">
            Remove
          </a>
        {{else}}
          <a href="/planner/{{ @root.planId}}/add-recipe?dayOfWeek={{../dayOfWeek}}&mealName={{mealName}}">
            Add
          </a>
        {{/if}}
      </div>
    {{/each}}
  </div>
{{/each}}